Source: ros-rolling-rmw-fastrtps-cpp
Section: misc
Priority: optional
Maintainer: Geoffrey Biggs <geoff@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-googletest <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-ros, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libfastcdr-dev, libfastrtps-dev, libosrf-testing-tools-cpp-dev <!nocheck>, librcpputils-dev, librcutils-dev, librosidl-runtime-c-cpp-dev, python3-rcutils, ros-rolling-fastrtps-cmake-module, ros-rolling-rmw, ros-rolling-rmw-dds-common, ros-rolling-rmw-fastrtps-shared-cpp, ros-rolling-rosidl-dynamic-typesupport, ros-rolling-rosidl-dynamic-typesupport-fastrtps, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp, ros-rolling-test-msgs <!nocheck>, ros-rolling-tracetools, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rmw-fastrtps-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ament-cmake, libfastcdr-dev, libfastrtps-dev, librcpputils-dev, librcutils-dev, librosidl-runtime-c-cpp-dev, python3-rcutils, ros-rolling-fastrtps-cmake-module, ros-rolling-rmw, ros-rolling-rmw-dds-common, ros-rolling-rmw-fastrtps-shared-cpp, ros-rolling-rosidl-dynamic-typesupport, ros-rolling-rosidl-dynamic-typesupport-fastrtps, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp, ros-rolling-tracetools, ros-rolling-ros-workspace
Description: Implement the ROS middleware interface using eProsima FastRTPS static code generation in C++.
